body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border: 0;
}

.content{
    overflow-x: hidden;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    text-align: center;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 0;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 10em;
}

.button-1 {
    display: block;
    text-align: center;
    background: #444;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}

.button-1:hover {
    background-color: #02b8dd;
    color: #fff;
}

#bgChart{
    margin-left: -1em;
    padding: 0;
    width: 200%;
    overflow-x: hidden;
}

canvas{
    padding: 0;
    width: 150%;
    overflow-x: hidden;
}

#motto{
    z-index: 100;
    width: 100%;
    position: absolute;
    margin-top: 2em;
}

#wstat-image{
    width:105%;
    overflow-x: hidden;
    height: auto;
}

#features ul {
    margin: 3em 0;
    list-style-type: none;
    overflow: hidden;
}
#features ul li {
    padding-top: 140px;
    width: 33.3%;
    float: left;
    display: block;
    text-align: center;
}
#features ul li.feature-1 {
    background: url('../img/feature-1.png') no-repeat top center;
}
#features ul li.feature-2 {
    background: url('../img/feature-2.png') no-repeat top center;
}
#features ul li.feature-3 {
    background: url('../img/feature-3.png') no-repeat top center;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 10px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    .button-1 {
        display: block;
        text-align: center;
        background: #444;
        border-radius: 3px;
        color: #fff;
        width: 100px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        margin: 0 auto;
    }
    #navBar{
        font-size: 8px;
    }
    #wstat-image{
        padding-top: 0.7em;
    }
    #features ul li {
        padding-top: 140px;
        width: auto;
        float: left;
        display: block;
        text-align: center;
    }
}