html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

/* Buttons */

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Sidebar */

.sidebar {
    display:none;
    height: 100%;
    width: 25%;
    background-color: #fff;
    position: fixed !important;
    z-index: 3;
    overflow: auto
}

.sidebar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none
}

.sidebar-item-left {
    background-color: rgba(0,58,255,0.2);
    display: block;
    width: 75%;
    float: left;
}
.sidebar-item-left:hover {
    background-color: rgba(0,58,255,0.4);
}

.sidebar-item-del {
    background-color: rgba(255,0,23,0.3);
    display: block;
    width: 25%;
    float: left;
}

.sidebar-item-del:hover {
    background-color: rgba(255,0,23,0.5);
}

/* Animations */

.animate-left {
    position: relative;
    animation: animateleft 0.6s
}

.animate-opacity {
    animation: animateopacity 0.6s;
}

.animate-top {
    position: relative;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

@keyframes animateopacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@-webkit-keyframes animatetop {
    from {top: -20%; opacity: 1}
    to {top: 20%; opacity: 1}
}
@keyframes animatetop {
    from {top: -20%; opacity: 1}
    to {top: 20%; opacity: 1}
}

/* Overlay */

.sidebar-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}
.modal-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4
}


/* Modal */

.modal {
    display: none;
    z-index: 5;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;

    position: fixed !important;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.modal-header {
    padding: 0.5em 1.5em;
    background-color: rgba(0,58,255,0.1);
    color: inherit;
}

/* Modal Body */
.modal-body {
    padding: 0.5em 1.5em;
}

/* Modal Footer */
.modal-footer {
    padding: 0.5em 1.5em;
    background-color: rgba(0,58,255,0.1);
    color: inherit;
}

/* Modal close button */
.modal-close {
    color: inherit;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Inputs */

input[type=text] {
    width: 50%;
    padding: 0.5em 0.7em;
    margin: 1em 0;
    box-sizing: border-box;
    border: 2px solid #888;
}

input[type=text]:focus {
    border: 2px solid #555;
}

select {
    width: 70%;
    padding: 0.5em 1em;
    border: 1px;
    border-radius: 4px;
    background-color: rgba(0,58,255,0.2);
}


/* Responsiveness */

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 35%;
    }
    .modal {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        width: 50%;
    }
    .modal {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 80%;
    }
    .modal {
        width: 85%;
    }
}

@media only screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .modal {
        width: 100%;
    }
}

