html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

/* Buttons */

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Sidebar */

.sidebar {
    display:none;
    height: 100%;
    width: 25%;
    background-color: #fff;
    position: fixed !important;
    z-index: 3;
    overflow: auto
}

.sidebar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    outline: none;
    white-space: normal;
    float: none
}

.sidebar-item-left {
    background-color: rgba(0,58,255,0.2);
    display: block;
    width: 75%;
    float: left;
}
.sidebar-item-left:hover {
    background-color: rgba(0,58,255,0.4);
}

.sidebar-item-del {
    background-color: rgba(255,0,23,0.3);
    display: block;
    width: 25%;
    float: left;
}

.sidebar-item-del:hover {
    background-color: rgba(255,0,23,0.5);
}

/* Animations */

.animate-left {
    position: relative;
    animation: animateleft 0.6s
}

.animate-opacity {
    animation: animateopacity 0.6s;
}

@keyframes animateopacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

/* Overlay */

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

/* Modal */

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

/* Responsive sidebar */

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 35%;
    }
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}