.parameters {
    margin-left: 40px;
}

.entity-form {
    margin-left: 30vw;
    margin-top: 40px;
}

.chart-preview {
    width: 200px;
    height: 200px;
    display: inherit;
}

.charts-align {
    margin-left: 20px;
    display: flex;
    flex-flow: wrap;
}