.parameters {
    margin-left: 40px;
}

.entity-form {
    margin-left: 30vw;
    margin-top: 40px;
}

.charts-align {
    margin-left: 20px;
    display: flex;
    flex-flow: wrap;
}

*[selected] {
    border: 2px solid black;
}


.chart-preview {
    width: 400px;
    height: 250px;
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    .chart-preview {
        width: 200px;
        height: 150px;
    }
}